nav.navbar.navbar-default.navbar-static-top.navbar-inverse
    div.input-group
         div.input-group
            input.form-control(
                type='text'
                name='pesquisa'
                placeholder="Pesquisar"
                class='glyphicon glyphicon-search'
            )
            span.input-group-addon.glyphicon.glyphicon-search   