html
  head
    title Gerencioador de campeonatos
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    include _header.jade
    div.jumbotron
     